h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #fff;
}
h2{
    text-transform: uppercase;
}
body{
    font: "Raleway", san-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, yellow, red);
}
